<p id="notice"><%= notice %></p>

<form>
  <div class="mb-3">
    <%= label_tag nil, 'Nome' %>
    <%= text_field_tag nil, @contact.name, class:"form-control", disabled: true %>
  </div>

  <div class="mb-3">
    <%= label_tag nil, 'Telefone' %>
    <%= text_field_tag nil, @contact.phone, class:"form-control", disabled: true %>
  </div>

  <div class="mb-3">
    <%= label_tag nil, 'DDD' %>
    <%= text_field_tag nil, @contact.region.ddd, class:"form-control", disabled: true %>
  </div>
</form>
<br>
<%= link_to 'Editar', edit_contact_path(@contact), class:"btn btn-primary" %> |
<%= link_to 'Voltar', contacts_path, class:"btn btn-primary" %>
